*.cache
*.egg
*.egg-info/
*.log
*.md
*.mo
*.pid
*.po
*.pot
*.py[codz]
*.rst
*.so
*.sw[op]
*.txt
*.whl
*~
.DS_Store
.Python
.dockerignore
.editorconfig
.eggs/
.env*
.git/
.github/
.gitignore
.mailmap
.markdownlint.json
.pre-commit-config.yaml
.python-version
.readthedocs.yaml
.ruff_cache/
.secrets.baseline
.venv/
.vscode/
Dockerfile
ENV/
Makefile
__pycache__/
__pypackages__/
build/
docs/
eggs/
env/
pip-delete-this-directory.txt
sdist/
venv/
wheels/
